name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout da v4'e güncellendi
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # Hata veren kısım burasıydı, v4 yapıldı
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
